@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #f1f5f9;
}

#img_lp {
    height: 95% !important;
    width: auto;
}
#explore_lp {
    background: linear-gradient(90deg, #312dcf 0%, #7073f9 108.08%);
    border: 2px solid #ffffff;

    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
}

.imagetest {
    object-fit: contain;
}

[data-testid="test-form-title"] {
    color: #312dcf !important;
}

input[data-testid="test-input-label"] {
    color: #312dcf;
}

#Main_form {
    background-color: #f1f5f9;
}

#Main_form * :not(button#form-submit) {
    color: #7f7ce8;
}

button[data-testid="test-button"][id="form-submit"][type="submit"] span {
    background: #22c55e;
    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
    color: #ffffff !important;
}

button#form-submit {
    background: #22c55e;
    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
    color: #ffffff;
}

div.form-item:focus {
    border: 2px solid #22c55e;
}

div[class="sc-fXynhf kjxEkH input input_empty"][data-testid="test-input"] {
    outline: #7f7ce8 solid 1px;
}

[id^="input_"] {
    background-color: #f1f5f9;
}

label[data-testid="test-input-label"] {
    background-color: #f1f5f9;
}

label[for="inputUpdateListingNftModal"] {
    color: #7f7ce8;
    background-color: #ffffff;
}

#modalNft * :hover label {
    color: #7f7ce8;
}

#modalNft > div {
    width: 50%;
}

#modalNft > div > footer {
    padding: 20px 20px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0px -8px 16px rgba(171, 190, 209, 0.4);
}

#modalNft > div > div {
    margin-bottom: 5%;
}

#modalNft > div > div > div > div:last-child {
    border-radius: 36px !important;
}

#modalNft > div > div > div > div:last-child > label input {
    background-color: red;
}
.kjxEkH input + label {
    color: #7f7ce8;
}

#container_landing_page {
    height: 92vh !important;
    overflow-y: hidden !important;
}

#modalNft > div > footer > button:not(#modal-cancel-button) {
    background: #22c55e;
    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
    border-color: #22c55e;
}

#buy_button_modal {
    background: #22c55e;
    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
    border-color: #22c55e;
    color: #ffffff;
    padding: 7px 14px;
}

.button_minted {
    background: #ffffff;
    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
    color: #22c55e;
    padding: 3px 8px;
    border: solid 2px #22c55e;
}

#modal-cancel-button {
    margin-right: 15px;
    border-radius: 49px;
}

.contentModalCard {
    position: relative;
    top: -2vh;
}

.cancelList {
    background: #ef4444;

    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
}

.sellInput {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 46px;
    border: solid 1px #7f7ce8;
    color: #7f7ce8;
    font-weight: normal;
    padding: 8px 50px;
    margin-bottom: 10%;
}

input.sellInput:focus {
    border: solid 1px #7f7ce8 !important;
    outline-color: #7f7ce8;
}

input.sellInput:active {
    border: solid 1px #7f7ce8 !important;
    outline-color: #7f7ce8;
}

.sellForm * {
    /* background-color: #f1f5f9; */
}
.sellForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

input[type="number"]::-moz-inner-spin-button,
input[type="number"]::-moz-outer-spin-button {
    -moz-appearance: none;
    appearance: none;
    display: none;
}

button[data-testid="test-button"] {
    border: 2px solid #22c55e;
    background: #ffffff;
    box-shadow: 0px 6px 12px rgba(171, 190, 209, 0.3);
    border-radius: 49px;
    color: #22c55e !important;
    transition: all 0.2s ease;
}

button[data-testid="test-button"]:hover {
    border: 2px solid #22c55e !important;
    color: #ffffff !important;

    background: #22c55e !important;
}
button[data-testid="test-button"]:focus {
    border: 2px solid #22c55e !important;
}

.responsive-banner {
    width: 100%;
}

@media (max-width: 1000) {
    html {
        font-size: calc(15px + 0.120625vw);
    }
}

@media (max-width: 450) {
    html {
        font-size: calc(10px + 0.06625vw);
    }
    .container-mp {
        padding: 0 !important;
    }
}

#image-lp {
    display: flex;
}

@media (max-width: 1200px) {
    .responsive-banner {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .rp-banner-list {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
    }
    .container-mp {
        justify-content: center;
        margin-bottom: 3%;
    }
    .image-rp {
        display: none;
    }
    #container_landing_page {
        justify-content: center;
    }
    .rp-sm-ali-it-cent {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .rp-mb-3 {
        margin-bottom: 0.5rem;
    }
}
#sub-container-mp {
    width: 40%;
}
@media (max-height: 620px) {
    #container_landing_page {
        padding-top: 50%;
    }
}
@media (max-width: 1200px) {
    #sub-container-mp {
        width: 100%;
    }
}

@media (max-width: 850px) {
    .rp-container-img-explore {
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width: 1250px) {
    .rp-wrapper-explore {
        display: flex;
        justify-content: center;
        margin: 3vh 6vw;
    }
    .wrapper-nft-img {
        width: 25vw;
    }
    .nft-img {
        width: 15vw;
    }
    .rp-recently {
        display: none;
    }
    .rp-container-img-explore {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }
}

@media (max-width: 950px) {
    .wrapper-nft-img {
        width: 45vw;
    }
    .rp-container-img-explore {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        width: 80%;
        position: relative;
        left: -12vw;
    }
}

@media (max-width: 950px) {
    .wrapper-nft-img {
        width: 45vw;
    }
    .rp-container-img-explore {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        width: 80%;
        position: relative;
        left: -12vw;
    }
}
@media (max-width: 500px) {
    .wrapper-nft-img {
        width: 45vw;
    }
    .rp-owner {
        display: none;
    }
    .rp-logo {
        display: none;
    }
    .rp-inner-card {
        align-items: center;
    }
    .rp-container-img-explore {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
        width: 80%;
        position: relative;
        left: -12vw;
    }
}
